<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Edit Existing Entry</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">


                <!-- New Article Form -->
                <div class="well">
                    <a href="/">Home</a>
                    <h4>Edit Journal Entry</h4>
                    <form role="form">
                        <div class="form-group">
                            <p>Title</p>
                            <input class="form-control" value="Day 8 HTTP and Doubly Linked List"></input>
                            <br>
                            <p>Body<p>
                            <textarea class="form-control" rows="10">PlaceHolder Journal Entry</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>


            </div>

            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Jordan Schatzman 2016</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>