
{% extends "layout.jinja2" %}
    {% block title %}
        Edit Entry
    {% endblock %}
    {% block body %}
    <div class="well">
        <a href="/">Home</a>
        <h4>New Journal Entry:</h4>
        <form role="form">
            <div class="form-group">
                <p>Title</p>
                <input class="form-control"></input>
                <br>
                <p>Body<p>
                <textarea class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}
