
{% extends "layout.jinja2" %}
    {% block title %}
        Edit Entry
    {% endblock %}
    {% block body %}
        <div class="well">
            <h4>Edit Journal Entry</h4>
            <form role="form" method="post">
                <div class="form-group">
                    <p>Title</p>
                    <input class="form-control" name="title" value={{entries.title}}></input>
                    <br>
                    <p>Body<p>
                    <textarea class="form-control" name="body" rows="10">{{entries.body}}</textarea>
                </div>
                <button type="submit" value = "submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endblock %}
